@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

/*
short hand background:
color > image > position > repeat > size > attachment
*/
*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    background-color: black;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;     
}

header > p{
    font-family: 'Verdana';
    font-weight: 300;
    font-size: 1em;
}

header > p > a{
    text-decoration: underline 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Verdana';
    font-size: 1em;

}

header > h1{
    font-size: 10vw;
    font-family: 'Passion One', cursive;   
    font-variant: small-caps;
}

a:hover{
    text-decoration: underline 1px #afafaf;
    color: #afafaf;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: 'Sriracha';
    font-size: 3.1vw;
}

.normal{
    background-color: #ffffff;
    color: black;
}

.imagem01 > div {
    display: inline-block;
    background-color: #00000054;
    color: whitesmoke;
    padding: 5px;
    border-radius: 20px;
}

.imagem01{
    color: black;
    padding: 20px;
    background: white url(imagens/background001.jpg) center top no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 8px #24231763;
    text-shadow: 1px 1px 0px black;
}

.imagem02 > div{
    display: inline-block;
    background-color: #00000054;
    color: whitesmoke;
    padding: 3px;
    border-radius: 20px;
}

.imagem02{
    color: black;
    padding: 20px;
    background: white url(imagens/background002.jpg) center top no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 8px #24231763;
    text-shadow: 1px 1px 0px black;
}

footer > p{
    margin: 0px;
}

footer > p > a{
    text-decoration: none;
    color: #2222FF;
    font-weight: bolder;
}

footer > p > a:hover{
    text-decoration: underline 1px #2222FF;
    color: #2222FF;
}

footer{
    background-color: black;
    color: whitesmoke;
    padding: 7px;
    text-align: center;
    box-shadow: 2px 4px 15px 0px #000000e5;
    margin-top: 10px;
    font-family: 'Comfortaa', sans-serif;
}